In [3]:
import pandas as pd
data=pd.read_csv('adults.csv')

In [6]:
data.loc[data['age'] <= 20, 'age'] = 0
data.loc[(data['age'] > 20) & (data['age'] <= 30), 'age'] = 1
data.loc[(data['age'] > 30) & (data['age'] <= 40), 'age'] = 2
data.loc[data['age'] > 40, 'age'] = 3
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalGain,capitalLoss,hoursPerWeek,nativeCountry,income
0,0,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,0,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,0,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,0,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,0,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [10]:
def category_ages(age):
 if age <= 20:
   return '<20 ans'
 elif (age > 20) & (age <= 30):
   return '20-30 ans'
 elif (age > 30) & (age <= 40):
   return '30-40 ans'
 else:
   return '+40 ans'

In [11]:
data['age'].map(category_ages)

0     <20 ans
1     <20 ans
2     <20 ans
3     <20 ans
4     <20 ans
       ...
73    <20 ans
74    <20 ans
75    <20 ans
76    <20 ans
77    <20 ans
Name: age, Length: 78, dtype: object